body{background:#E1C699;


}
.hcd{border-style:solid;
background-color:brown;
color:whitesmoke;
border-radius:10px;
border-color:brown;
 }
.bro{
	color:saddlebrown;
	background-color;
}
p:hover {
box-shadow:1px 10px 20px red;
text-align:center;
}

.lin{color:black;
border:2px solid blue;
padding:5px;
border-radius:10px;
box-shadow:0px 0px 10px white;
text-decoration:none;}
input.check {
  width: 25px;
  height:25px;
}
.ord{
	background-color:brown;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 274px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius:15px;
}
.cardbotton{
		background-color:#E1C699;
		box-shadow: 1px 4px 8px 1px #E1C699;
		font-size:23px;
  max-width: 300px;
text-align: center;
border-radius:10px;
}
.rimg{border-radius:15px;}
ul {
  list-style-type: none;
  margin: 0;
  padding: ;
  overflow: hidden;
  background-color: #333;
  position: fixed;

 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}


.active {
  background-color: brown;
}
.form{
	border: solid;
	background-color:brown;
	border-radius:10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width:500px;
}
a{
text-decoration: none;

}
.center {
	width:400%;
	height:500px;
	position:absolute;
	top:50%;
	left:40%;
	width:300px;
	background:white;
border-radius:10px;
float:center;
box-shadow:0px 2px 3px 3px brown;
}
.sub{
	width:76%;
	height:50px;
	border:1px solid;
	background:#2691d9;
	border-radius:25px;
	color:#e9f4fb;
	font-weight:700;
	
}
.don{	width:400%;
	height:500px;
	position:absolute;
	top:355%;
	left:25%;
	
	width:300px;
	background:white;
border-radius:10px;
float:center;
box-shadow:0px 2px 3px 3px brown;}
